nav ul {
  list-style: none;
  margin-bottom: 0;
  cursor: pointer;
}

nav li {
  display: inline-block;
}

nav li:hover,
.active-link {
  background-color: #eee;
  color: #e74c3c;
}

nav a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 0.5em 1em;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #e74c3c;
  min-height: 10vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: wrap;
}

.App-header > *:first-child {
  flex-grow: 1;
}

.App-header > *:last-child {
  flex-grow: 2;
}

.App-content {
  padding-bottom: 3em;
}

.App-footer {
  box-sizing: border-box;
  background-color: #eee;
  font-size: 12px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 3em;
  padding: 10px 0;
  z-index: 100; /* Footer always on top */
}

.App-link {
  color: #61dafb;
}
